<h2>About Me</h2>
<p>
Over the past 5 years I've maintained an avid interest in the broad field of computer security. I now pursue research efforts directed toward software security, program analysis, and vulnerability discovery. I'm further interested in academic advances relating to software fuzzing and exploitation.
<br><br>
I'm privileged to be advised by <a style="text-decoration:underline" href="http://users.ece.cmu.edu/~dbrumley/index.html">David Brumley</a>.</p>

<!--<i class="fa fa-university fa-lg fa-spec"></i>-->
<h2>Education</h2>

<p>Stuff</p>

<h2>Publications</h2>
<br>
<h2>Work Experience</h2>

<ul class="fa-ul main-list">
  <li class="paragraph-list-item">
    <span class="fa fa-windows fa-lg main-list-item-icon"></span>
    Microsoft Research
    <small style="color: #777; float: right"><i class="fa fa-calendar"></i> 2014</small>
    <p>More things I can say about interning there.</p>
  </li>
  <li class="paragraph-list-item">
    <span class="fa fa-google fa-lg main-list-item-icon"></span>
    <small style="color: #777; float: right"><i class="fa fa-calendar"></i> 2011</small>
    Google
    <p>More things I can say about interning there.</p>
  </li>
</ul>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/rvantonder">rvantonder</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="http://www.twitter.com/rvtond">rvtond</a>
  </li>
</ul>
